services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    volumes:
      - namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./config/hadoop-hive.env
    ports:
      - "9870:9870"
      - "9000:9000"

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    volumes:
      - datanode:/hadoop/dfs/data
    env_file:
      - ./config/hadoop-hive.env
    environment:
      SERVICE_PRECONDITION: "namenode:9870"
    ports:
      - "9864:9864"

  spark-master:
    image: bde2020/spark-master:3.1.1-hadoop3.2
    container_name: spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
    env_file:
      - ./config/hadoop-hive.env

  spark-worker:
    image: bde2020/spark-worker:3.1.1-hadoop3.2
    container_name: spark-worker
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    env_file:
      - ./config/hadoop-hive.env

  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    env_file:
      - ./config/hadoop-hive.env
    environment:
      HIVE_CORE_CONF_javax_jdo_option_ConnectionURL: "jdbc:postgresql://hive-metastore/metastore"
      SERVICE_PRECONDITION: "hive-metastore:9083"
    ports:
      - "10000:10000"

  hive-metastore:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-metastore
    env_file:
      - ./config/hadoop-hive.env
    command: /opt/hive/bin/hive --service metastore
    environment:
      SERVICE_PRECONDITION: "namenode:9870 datanode:9864 hive-metastore-postgresql:5432"
    ports:
      - "9083:9083"

  hive-metastore-postgresql:
    image: bde2020/hive-metastore-postgresql:2.3.0
    container_name: hive-metastore-postgresql

  hbase-master:
      image: dajobe/hbase
      container_name: hbase-master
      hostname: hbase-master
      volumes:
        - hbase_data:/hadoop/hbase
      ports:
        - "16000:16000"
        - "16010:16010"
      command: master
      env_file:
        - ./config/hadoop-hive.env
      environment:
        # Point HBase to the Zookeeper container
        HBASE_CONF_hbase_zookeeper_quorum: "zookeeper"
        # Point HBase to the Namenode (HDFS) instead of local storage
        HBASE_CONF_hbase_rootdir: "hdfs://namenode:9000/hbase"
        # Enable distributed mode
        HBASE_CONF_hbase_cluster_distributed: "true"
        # Fix port configuration
        HBASE_CONF_hbase_master_port: "16000"
        HBASE_CONF_hbase_master_info_port: "16010"
      depends_on:
        - zookeeper
        - namenode
        - datanode

  hbase-regionserver:
      image: dajobe/hbase
      container_name: hbase-regionserver
      hostname: hbase-regionserver
      volumes:
        - hbase_data:/hadoop/hbase
      ports:
        - "16020:16020"
        - "16030:16030"
      command: regionserver
      env_file:
        - ./config/hadoop-hive.env
      environment:
        # Point to Master and Zookeeper
        HBASE_CONF_hbase_master: "hbase-master:16000"
        HBASE_CONF_hbase_zookeeper_quorum: "zookeeper"
        # Ensure distributed mode is on
        HBASE_CONF_hbase_cluster_distributed: "true"
      depends_on:
        - hbase-master
 
  zookeeper:
    image: zookeeper:3.5
    container_name: zookeeper
    ports:
      - "2181:2181"

volumes:
  namenode:
  datanode:
  hbase_data:
